.imeiVerificar{
	font-size: 28px;
}

.form-group button{
	margin-top: 30px;
}

.leyenda{
	width: 50%;
	margin-top: 40px;
	font-size: 14px !important;
}

.imeiBack{
	font-size: 32px;
}

.datosImeiInfo{
	font-size: 25px;
}